.header {
  height: 72px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  width: 50%;
  display: flex;
  gap: 100px;
  align-items: center;
  color: white;
}

.header-left-logo {
  border-right: 1px solid #a7b1bc;
  height: 40px;
  width: 25%;
}

.header-left-nav {
  display: flex;
  width: 276px;
  display: flex;
  justify-content: space-between;
}

.header-right {
  width: 261px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-profile {
  width: 181px;
  height: 48px;
  border-radius: 8px;
  background-color: #12171d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #a7b1bc;
  font-size: 14px;
  font-weight: 500;
}

.header-profile_image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #df9090;
}
